@charset "UTF=8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #B6D6F2, #D8EBF2);

}

main
    {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    box-shadow: 5px 5px 15px #65819270;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #4d6580;
    text-align: center;
    text-shadow: 1px 1px 2px #3a4d6377;
}

h2 {
    color: #96BFD9
}

p {
    text-align: justify;
}